# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\zm1995_github\repository\wanxinp2p_apollo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
